@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,600;0,800;1,700 & display=swap');

*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     
}

.top_header {
    height: 40px;
    width: 100%;
    background-color:  rgb(181, 181, 209);
    position:  fixed;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top_header img {
    height: 40px;
    padding-inline-start: 12px;
    margin-left: 8px;
    
}

.navbar {
    margin-top: 40px;
    display: flex;
    height: 64px;
    width: 100%;
    background-color:  rgb(181, 181, 209);
    position: fixed;
    align-items: center;
}
 .burger{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100, 0,15);
    margin: 0px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    
 }

 .navbar img{
    width: 6.5rem;
    margin-right: 36px ;
 }

 .navegador {
    margin-right: 81px;
    
 }

 .burger span{
     font-size:  20px;
 }
 .navegador a {
    margin-right:  27px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color:  rgb(181, 181, 209);
    transition: all 0.5s ease;

 }

.navbar a:hover{
 color :yellow;
}

.idioma {
    background-color: hsla(0, 0%, 100, .20);
    height: 24px;
    width: 44px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 /20%) ;
    margin-right: 22px;
    padding: 0 4px;
    align-items: center;
    cursor: pointer;
}

.idioma p{
    color: white;
    font-size: 11px;
    margin: 0px 4px;
    display: flex ;
}

.idioma span {
    display: flex;
    position: absolute;
    float: right;
    font-size: 17px;
    color: white;
  

}

.idioma:hover{
    background-color: rgb(231, 158, 207);
}

.buscador{
    display: flex;
    height:  32px;
    width: 100px;
    background-color: hsla(0, 0%, 100, .20);
    border-radius: 30px;
    align-items: center;
    padding: 0px 4px;
    justify-content: space-between;
    margin-right: 15px;
    cursor: pointer;
}

.buscador p{
    color: white;
    margin: 0px 4px;
}

.buscador span{
    color: white;
}

.buscador p{
    color: white;
    margin: 0px 4px;
    font-size: 12px;

}

.buscador span:hover{
    color: rgb(242, 16, 250);
}

.cuenta span{
   color: white;
   font-size: 50px;
   transform: translateY(5px);

}

.section_header {
    overflow: hidden;
}

.section_header aside {
   position: absolute;
   width: 25%;
   height: 640px;
   
   
}

.section_header img {
     display: center;
     float: center;
     margin-right: -158px ;
     margin-top: 90px;
}

section {
    height: 900px;
    
}

.top_header_right {
    display: flex;
    height: 100%;
    align-items: center;

}

.top_header_right a {
    text-decoration: none;
    color: rgb(43, 255, 54);
    margin-right: 14px;
    margin-left: 11px;
    font-size: 12px;
    display: flex;
}

.top_header_right:hover{
    color: purple;
}

